<div class="post">
    <div class="header">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                by {{ authorName }}
            </div>
        </div>
    </div>
    <div class="content row">
        <div class="col-md-12">
            {{{ contents }}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 created-at">
            Created on {{ formatDate createdAt day="2-digit" month="2-digit" year="numeric" }}
        </div>
    </div>
</div>
